---
gke_clusters:
  cluster-sea1:
    project_id: adroit-nimbus-481707-i0
    location: asia-southeast1-a # <<< ZONAL for testing (1 node only)
    description: "Test simple GKE cluster"

    network: "projects/adroit-nimbus-481707-i0/global/networks/sample-vpc"
    subnetwork: "projects/adroit-nimbus-481707-i0/regions/asia-southeast1/subnetworks/gke-primary"

    ip_allocation_policy:
      cluster_secondary_range_name: gke-pods
      services_secondary_range_name: gke-services

    release_channel: REGULAR

    private_cluster_config:
      enable_private_nodes: true
      enable_private_endpoint: true
      master_ipv4_cidr_block: "172.16.0.32/28"

    service_account: "gke-node-sa@adroit-nimbus-481707-i0.iam.gserviceaccount.com"

    disk_size_gb: 37
    machine_type: e2-medium
    spot: true

    initial_node_count: 1
