---
vpc_networks: #{} #none
  sample-vpc:
    project_id: stone-booking-482114-v1
    auto_create_subnetworks: false 
    routing_mode: REGIONAL
    mtu: 1460
    description: "VPC network for core services and applications"

    subnets:
      - name: management
        region: asia-southeast1
        ip_cidr_range: 10.0.0.0/24
        private_ip_google_access: true
        description: "Subnet for management VMs and tools"

      - name: databases
        region: asia-southeast1
        ip_cidr_range: 10.0.1.0/24
        private_ip_google_access: true
        description: "Subnet for database instances (e.g., Cloud SQL, self-managed databases)"

      - name: gke-primary
        region: asia-southeast1
        ip_cidr_range: 10.0.2.0/23
        private_ip_google_access: true
        description: "Primary subnet for GKE cluster nodes"
        secondary_ip_ranges:
          - range_name: gke-pods
            ip_cidr_range: 10.1.0.0/20
          - range_name: gke-services
            ip_cidr_range: 10.50.0.0/17

      - name: serverless-cloudrun
        region: asia-southeast1
        ip_cidr_range: 10.0.6.0/24
        private_ip_google_access: false
        description: "Subnet for Serverless VPC Access for Cloud Run"

      - name: compute-vm
        region: asia-southeast1
        ip_cidr_range: 10.0.7.0/24
        private_ip_google_access: false
        description: "Subnet for general purpose Compute Engine VMs"

      - name: loadbalancer-proxy
        region: asia-southeast1
        ip_cidr_range: 10.129.0.0/23
        purpose: REGIONAL_MANAGED_PROXY
        role: ACTIVE
        private_ip_google_access: false
        description: "Dedicated proxy-only subnet for internal HTTP(S) Load Balancers"
