---
vpc_networks:
  sample-vpc:
    project_id: adroit-nimbus-481707-i0
    auto_create_subnetworks: false # custom subnets
    routing_mode: REGIONAL # Or GLOBAL
    mtu: 1460
    description: "VPC network for core services and applications"
    tags:
      - "costcenter-main" # Example tag

    subnets:
      - name: management
        region: asia-southeast1
        ip_cidr_range: 10.0.0.0/24
        private_ip_google_access: true # Enable Private Google Access
        description: "Subnet for management VMs and tools"
        tags:
          - "management-access" # tag for firewall rules

      - name: databases
        region: asia-southeast1
        ip_cidr_range: 10.0.1.0/24
        private_ip_google_access: true
        description: "Subnet for database instances (e.g., Cloud SQL, self-managed databases)"
        tags:
          - "database-access"

      - name: gke-primary
        region: asia-southeast1
        ip_cidr_range: 10.0.2.0/23
        private_ip_google_access: true
        description: "Primary subnet for GKE cluster nodes"
        secondary_ip_ranges:
          - range_name: gke-pods
            ip_cidr_range: 10.1.0.0/20
          - range_name: gke-services
            ip_cidr_range: 10.50.0.0/17
        tags:
          - "gke-nodes"

      - name: serverless-cloudrun
        region: asia-southeast1
        ip_cidr_range: 10.0.6.0/24
        private_ip_google_access: false
        description: "Subnet for Serverless VPC Access for Cloud Run"
        tags:
          - "cloudrun-connector"

      - name: compute-vm
        region: asia-southeast1
        ip_cidr_range: 10.0.7.0/24
        private_ip_google_access: false
        description: "Subnet for general purpose Compute Engine VMs"
        tags:
          - "general-vm"

      - name: loadbalancer-proxy
        region: asia-southeast1
        ip_cidr_range: 10.129.0.0/23
        purpose: REGIONAL_MANAGED_PROXY # This is correct for internal HTTP(S) Load Balancers
        role: ACTIVE # Indicates this is an active proxy subnet
        private_ip_google_access: false
        description: "Dedicated proxy-only subnet for internal HTTP(S) Load Balancers"
        tags:
          - "lb-proxy"

