---
vpc:
  main-vpc:
    # ipv6
    enable_ipv6: false
    assign_ipv6_address_on_creation: false
    # nat
    enable_nat_gateway: true
    single_nat_gateway: true 
    # dns
    enable_dns_support: true
    enable_dns_hostnames: true
    # logging & monitoring
    enable_network_address_usage_metrics: true
    vpc_flow_logs: false
    flow_log_destination_type: "cloud-watch-logs"
    flow_log_log_format: "${srcaddr} ${dstaddr} ${srcport} ${dstport} ${protocol} ${packets} ${bytes} ${windowstart} ${windowend} ${action}"
    # dhcp
    enable_dhcp_options: false
    dhcp_options_domain_name: ""
    dhcp_options_domain_name_servers: ["AmazonProvidedDNS"]
    # subnet
    cidr: "10.0.0.0/16" 
    azs: ["ap-southeast-1a", "ap-southeast-1b", "ap-southeast-1c"]
    public_subnets: ["10.0.1.0/24", "10.0.2.0/24", "10.0.3.0/24"]
      type: "public"
    private_subnets: ["10.0.4.0/24", "10.0.5.0/24", "10.0.6.0/24"]
      type: "private"
    database_subnets: ["10.0.7.0/24", "10.0.8.0/24"]
      type: "private"
    eks_subnets: ["10.0.10.0/24", "10.0.11.0/24", "10.0.12.0/24"]
      type: "private"
      additional_tags:
        "karpenter.sh/discovery": "its-cluster"
        # "owner": "tudaolw"
    management_subnets: ["10.0.20.0/26"]
      type: "private"
